<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" type="text/css" href="../static/styles/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../static/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/styles/output.css" />

	<title>Title</title>
</head>
<body>
	<div class="index-header">
		<div class="index-content-block">
			<div class="index-header__title-block">
				<h1 class="title-block__title">nastya@kataeva.io</h1>
				<p class="title-block__description title-block__description--gray">Пытаюсь во фронтенд, на кухню и в социум.<br>Бложик о боли.</p>
			</div>
		</div>
	</div>
	<div class="index-content-block">
		<div class="index-content">
			<div class="g__row">
				<div class="index-content__article-block g__col--4">
					<a class="article-block__image" href="#" style="background-image: url('../static/images/iYvDeqVGRbebiQv2PIJi_DSC_8407.jpg')"></a>
					<h3 class="article-block__title">
						<a href="#">Lorem ipsum dolor sit amet</a>
					</h3>
					<p class="article-block__description article-block__description--gray">
						<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</a>
					</p>
					<div class="article-block__additional">
						<time class="additional__time">
							<a href="#">September 1st, 2011</a>
						</time>
						<span class="additional__comment">
							<a href="#">2 comments</a>
						</span>
					</div>
				</div>
				<div class="index-content__article-block g__col--6">
					<a class="article-block__image" href="#" style="background-image: url('../static/images/Ov6ZY1zLTWmhPC0wFysP_IMG_2896_edt.jpg')"></a>
					<h3 class="article-block__title">
						<a href="#">Sed ut perspiciatis</a>
					</h3>
					<p class="article-block__description article-block__description--gray">
						<a href="#">Excepteur sint occaecat</a>
					</p>
					<div class="article-block__additional">
						<time class="additional__time">
							<a href="#">March 28th, 2013</a>
						</time>
						<span class="additional__comment">
							<a href="#">1 comment</a>
						</span>
					</div>
				</div>
			</div>
			<div class="g__row">
				<div class="index-content__article-block g__col--6">
					<a class="article-block__image" href="post240914.html" style="background-image: url('../static/images/QDSMoAMTYaZoXpcwBjsL__DSC0104-1.jpg')"></a>
					<h3 class="article-block__title">
						<a href="post240914.html">Мечты не сбудутся, Газпром</a>
					</h3>
					<p class="article-block__description article-block__description--gray">
						<a href="post240914.html">Если нашпинговаться кальяном, развалиться на заднем сидении Мазды, выкрутить на фулл виолончель Баха и катиться так домой по ночному Ёбургу - в голову обязательно взбредет что-то подобное.</a>
					</p>
					<div class="article-block__additional">
						<time class="additional__time">
							<a href="post240914.html">September 24th, 2014</a>
						</time>
						<span class="additional__comment">
							<a href="#">0 comments</a>
						</span>
					</div>
				</div>
				<div class="content_articleBlock g__col--4">
					<a class="article-block__image" href="post180914.html" style="background-image: url('../static/images/unsplash_52c319226cefb_1.jpg')"></a>
					<h3 class="article-block__title">
						<a href="post180914.html">Верстаю упущенное</a>
					</h3>
					<p class="article-block__description article-block__description--gray">
						<a href="post180914.html">В моем случае блог — это самый безболезненный способ совладать с неоправданными гуманитарными амбициями, постыдной жаждой внимания и тягой к самолюбованию.</a>
					</p>
					<div class="article-block__additional">
						<time class="additional__time">
							<a href="post180914.html">September 18th, 2014</a>
						</time>
						<span class="additional__comment">
							<a href="post180914.html">0 comments</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="index-content-block">
		<div class="footer">
			<span class="footer__sign footer__sign--gray">Когда-нибудь здесь будет полезная информация.</span>
			<span class="index__link-block">
				<a href="https://twitter.com/tenebricosa" class="index-link__link index-link__link--twitter js-flip">
					twitter
				</a>
				<a href="https://github.com/tenebricosa" class="index-link__link index-link__link--github js-flip">
					github
				</a>
				<a href="https://steamcommunity.com/id/_watson_md_/" class="index-link__link index-link__link--steam js-flip">
					steam
				</a>
			</span>
			<br>
			<span class="footer__sign footer__sign--gray">На самом деле нет.</span>
		</div>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/script.js"></script>
</body>
</html>