<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" type="text/css" href="../static/styles/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../static/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/styles/output.css" />

	<title>Title</title>
</head>
<body>
	<div class="index-header">
		<div class="layout-content-block">
			<div class="index-header__title-block">
				<h1 class="title-block__title">Lorem ipsum</h1>
				<p class="title-block__description title-block__description--gray">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
			</div>
		</div>
	</div>
	<div class="layout-content-block">
		<div class="index-content">
			<div class="g__row">
				<div class="index-content__article-block g__col--4">
					<a class="article-block__image" href="#" style="background-image: url('../static/images/iYvDeqVGRbebiQv2PIJi_DSC_8407.jpg')"></a>
					<h3 class="article-block__title">
						<a href="#">Lorem ipsum dolor sit amet</a>
					</h3>
					<p class="article-block__description article-block__description--gray">
						<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</a>
					</p>
					<div class="article-block__additional">
						<time class="additional__time">
							<a href="#">September 1st, 2011</a>
						</time>
						<span class="additional__comment">
							<a href="#">2 comments</a>
						</span>
					</div>
				</div>
				<div class="index-content__article-block g__col--6">
					<a class="article-block__image" href="#" style="background-image: url('../static/images/Ov6ZY1zLTWmhPC0wFysP_IMG_2896_edt.jpg')"></a>
					<h3 class="article-block__title">
						<a href="#">Sed ut perspiciatis</a>
					</h3>
					<p class="article-block__description article-block__description--gray">
						<a href="#">Excepteur sint occaecat</a>
					</p>
					<div class="article-block__additional">
						<time class="additional__time">
							<a href="#">March 28th, 2013</a>
						</time>
						<span class="additional__comment">
							<a href="#">1 comment</a>
						</span>
					</div>
				</div>
			</div>
			<div class="g__row">
				<div class="index-content__article-block g__col--6">
					<a class="article-block__image" href="#" style="background-image: url('../static/images/QDSMoAMTYaZoXpcwBjsL__DSC0104-1.jpg')"></a>
					<h3 class="article-block__title">
						<a href="#">Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur</a>
					</h3>
					<p class="article-block__description article-block__description--gray">
						<a href="#">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt</a>
					</p>
					<div class="article-block__additional">
						<time class="additional__time">
							<a href="#">April 14th, 2013</a>
						</time>
						<span class="additional__comment">
							<a href="#">23 comments</a>
						</span>
					</div>
				</div>
				<div class="content_articleBlock g__col--4">
					<a class="article-block__image" href="#" style="background-image: url('../static/images/unsplash_52c319226cefb_1.jpg')"></a>
					<h3 class="article-block__title">
						<a href="#">Ut enim ad minima veniam, quis nostrum</a>
					</h3>
					<p class="article-block__description colorGray">
						<a href="#">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore</a>
					</p>
					<div class="article-block__additional">
						<time class="additional__time">
							<a href="#">January 28th, 1993</a>
						</time>
						<span class="additional__comment">
							<a href="#">0 comments</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layout-content-block">
		<div class="footer">
			<span class="footer__sign footer__sign--gray">Something I wonna say</span>
			<div class="footer__link-block">
				<a href="https://twitter.com/tenebricosa" class="link-block__link link-block__link--twitter">
				</a>
				<a href="https://github.com/tenebricosa" class="link-block__link link-block__link--github">
				</a>
				<a href="https://steamcommunity.com/id/_watson_md_/" class="link-block__link link-block__link--steam">
				</a>
			</div>
		</div>
	</diV
</body>
</html>