<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="stylesheet" type="text/css" href="../static/styles/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../static/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/styles/output.css" />

	<title>Верстаю упущенное</title>
</head>
<body>
	<div class="header">
		<div class="header__button-to-main-block js-flip">
			<a href="index.html" class="button-to-main-block__link">Home</a>
		</div>
		<div class="post__link-block">
			<a href="https://twitter.com/tenebricosa" class="post-link__link post-link__link--twitter">
			</a>
			<a href="https://github.com/tenebricosa" class="post-link__link post-link__link--github">
			</a>
			<a href="https://steamcommunity.com/id/_watson_md_/" class="post-link__link post-link__link--steam">
			</a>
		</div>
	</div>
	<div class="post-content-block">
		<div class="post-header__title-block">
			<h1 class="title-block__title">Верстаю упущенное</h1>
		</div>
	</div>
	<div class="post-content-block">
		<article class="post-content">
			<p class="post-content__paragraph">Когда в голове крепко осела идея делиться с людьми мыслями длиннее cта сорока символов, я с трудом представляла, в каком формате и какой направленности они будут. Не знаю этих вещей и сейчас. Мне просто хочется писать о чем-то, что занимает мою голову. Что-то не слишком скучное, без лишнего романтизма, ненужных подробностей и пафосных конструкций. В таком русле я и постараюсь двигаться.</p>
			<p class="post-content__paragraph">Конкретно сейчас бложик находится в стадии зародыша. Только два дня назад я начала выстраивать разметку главной страницы и прикручивать первые стили. Пока без замысловатостей и изюминок — этим займусь позже. Сейчас мне интереснее создать хорошую “базу”, с которой потом будет удобно работать. Качество текстов на данный момент второстепенно. Просто, на момент запуска хочется иметь несколько заметок, чтобы главная страница не выглядела сырой (а чтобы и эта запись не выглядела голой, ловите хипстерскую картинку).</p>
			<img src="../static/images/P6A1ZZ8nRPYKZHXbLikA_2014-07-11_17.39.15-1.jpg" width=100% class="post-content__picture"/>
			<p class="post-content__paragraph">Это мой первый большой проект вне “Контура”, с тех пор как я начала считать себя сознательным верстальщиком. Проб пера было много, а вот синтезировать навыки и оттачивать их полноценно и пробовать что-то кардинально новое я набралась смелости только теперь.</p>
			<p class="post-content__paragraph">Улыбнуло меня то, что пришлось написать свой первый (пусть и купированный) грид и развеять для себя магию его работы. Но особенно порадовало осознание ограниченности CSS и попытка заюзать препроцессоры. Во второй день работы над блогом переписала все стили на SASS, а вчера, на новоселье <a href="https://twitter.com/MaximSukharev" class="post-content__link">@MaximSukharev</a>, услышала от него, что Stylus будет покруче. Вот, наступил третий день, и я подумываю, пока не поздно, перехерачить весь говнокод на него. Впрочем, скорее всего, откажусь от этой идеи, раз уж начала осваивать другую технологию.</p>
			<p class="post-content__paragraph">Скоро перейду к верстке шаблона страницы с постами, а когда закончу, <a href="https://twitter.com/mr_apt" class="post-content__link">@mr_apt<a> (люблю следующую фразу при правильном ее произношении) разработает мне backend. Хотя, учитывая наши наполеоновские планы на ближайшие дни, вряд ли это случится в ближайшее время. Сегодня иду на повторное собеседование в “Яндекс”, завтра обещаются состояться очень любопытные “Fronttalks“, а после завтра хотелось бы заглянуть на “Я.Субботник“. Учитывая, что в понедельник рабочий релиз, вероятность уделить время своему проекту крайне мала. Зато есть возможность весело провести время.</p>
		</article>
	</div>
	<div class="post-content-block">
		<div class="footer">
			<span class="footer__sign footer__sign--gray">Когда-нибудь здесь будет полезная информация.<br>На самом деле нет.</span>
		</div>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/script.js"></script>
</boby>
</html>
