<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" type="text/css" href="../static/styles/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../static/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/styles/output.css" />

	<title>Title</title>
</head>
<body>
	<div class="post-header">
		<div class="post-header__button-to-main-block">
			<a href="index.html" class="button-to-main-block__link">Home</a>
		</div>
		<div class="post-content-block">
			<div class="post-header__title-block">
				<h1 class="title-block__title">Lorem ipsum</h1>
			</div>
		</div>
	</div>
	<div class="post-content-block">
		<article class="post-content">
			<p class="post-content__paragraph">Как отмечала в самом начале своей удивительной истории главная героиня &laquo;10 королевства&raquo;: в определенном возрасте понимаешь, что ничего особенного с тобой уже не произойдет. Сказки сказками, а жизнь диктует свое: осеннее и рутинное. Конечно, сюрпризы случаются, а вот магия - нет. Почему я привожу именно такое противопоставление, я сейчас объясню.</p>
			<p class="post-content__paragraph">Помните, эту картинку из детства: иллюстрация успешности, которая бы никогда не удовлетворила формат ни одного глянцевого журнала? То есть, наличие капитала дедушки Скруджа совершенно естественно сочеталось с карьерой бродячего музыканта, а царствование в Шоколадном королевстве никак не противоречило космическим адиссеям. Тогда казалось, что жизнь бесконечно, а сил и амбиций хватит на пятерых. Одним словом, море возможностей и никаких преград.</p>
			<p class="post-content__paragraph">История, казалось бы, до смеха наивная </p>
			<p class="post-content__paragraph">Улыбнуло меня то, что пришлось написать свой первый (пусть и купированный) грид и развеять для себя магию его работы. Но особенно порадовало осознание ограниченности CSS и попытка заюзать препроцессоры. Во второй день работы над блогом переписала все стили на SASS, а вчера, на новоселье <a href="https://twitter.com/MaximSukharev" class="post-content__link">@MaximSukharev</a>, услышала от него, что Stylus будет покруче. Вот, наступил третий день, и я подумываю, пока не поздно, перехерачить весь говнокод на него. Впрочем, скорее всего, откажусь от этой идеи, раз уж начала осваивать другую технологию.</p>
			<p class="post-content__paragraph">Скоро перейду к верстке шаблона страницы с постами, а когда закончу, <a href="https://twitter.com/mr_apt" class="post-content__link">@mr_apt<a> (люблю следующую фразу при правильном ее произношении) разработает мне backend. Хотя, учитывая наши наполеоновские планы на ближайшие дни, вряд ли это случится в ближайшее время. Сегодня иду на повторное собеседование в “Яндекс”, завтра обещаются состояться очень любопытные “Fronttalks“, а после завтра хотелось бы заглянуть на “Я.Субботник“. Учитывая, что в понедельник рабочий релиз, вероятность уделить время своему проекту крайне мала. Зато есть возможность весело провести время.</p>
			<img src="../static/images/P6A1ZZ8nRPYKZHXbLikA_2014-07-11_17.39.15-1.jpg" width=100% class="post-content__picture"/>
		</article>
	</div>
	<div class="post-content-block">
		<div class="footer">
			<span class="footer__sign footer__sign--gray">Something I wonna say</span>
			<div class="footer__link-block">
				<a href="https://twitter.com/tenebricosa" class="link-block__link link-block__link--twitter">
				</a>
				<a href="https://github.com/tenebricosa" class="link-block__link link-block__link--github">
				</a>
				<a href="https://steamcommunity.com/id/_watson_md_/" class="link-block__link link-block__link--steam">
				</a>
			</div>
		</div>
	</div>
</boby>
</html>