<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" type="text/css" href="../static/styles/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../static/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/styles/output.css" />

	<title>Title</title>
</head>
<body>
	<div class="index-header">
		<div class="layout-content-block">
			<div class="index-header__title-block">
				<h2 class="title-block__title">Lorem ipsum</h2>
				<p class="title-block__description title-block__description--gray">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
			</div>
		</div>
	</div>
	<div class="layout-content-block">
		<div class="post-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam orci dui, placerat ac volutpat in, pellentesque et ante. Nam tincidunt egestas magna, id maximus libero faucibus sed. Aliquam gravida ante sit amet felis blandit pretium. Nunc eget tellus fermentum, eleifend eros quis, sodales erat. Aliquam sed ex lacus. Pellentesque erat eros, viverra a augue vel, viverra aliquet ex. Vestibulum elit purus, vulputate at nibh in, egestas suscipit mi. Quisque sollicitudin augue vitae lorem tempus imperdiet. Curabitur dolor tellus, sollicitudin quis consectetur nec, tristique eu libero. Duis diam neque, blandit ut metus porttitor, tincidunt condimentum nisi. Fusce vel varius sem. Interdum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam orci dui, placerat ac volutpat in, pellentesque et ante. Nam tincidunt egestas magna, id maximus libero faucibus sed. Aliquam gravida ante sit amet felis blandit pretium. Nunc eget tellus fermentum, eleifend eros quis, sodales erat. Aliquam sed ex lacus. Pellentesque erat eros, viverra a augue vel, viverra aliquet ex. Vestibulum elit purus, vulputate at nibh in, egestas suscipit mi. Quisque sollicitudin augue vitae lorem tempus imperdiet. Curabitur dolor tellus, sollicitudin quis consectetur nec, tristique eu libero. Duis diam neque, blandit ut metus porttitor, tincidunt condimentum nisi. Fusce vel varius sem. Interdum.</p>
			<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam orci dui, placerat ac volutpat in, pellentesque et ante. Nam tincidunt egestas magna, id maximus libero faucibus sed. Aliquam gravida ante sit amet felis blandit pretium. Nunc eget tellus fermentum, eleifend eros quis, sodales erat. Aliquam sed ex lacus.</blockquote>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam orci dui, placerat ac volutpat in, pellentesque et ante. Nam tincidunt egestas magna, id maximus libero faucibus sed. Aliquam gravida ante sit amet felis blandit pretium. Nunc eget tellus fermentum, eleifend eros quis, sodales erat. Aliquam sed ex lacus. Pellentesque erat eros, viverra a augue vel, viverra aliquet ex. Vestibulum elit purus, vulputate at nibh in, egestas suscipit mi. Quisque sollicitudin augue vitae lorem tempus imperdiet. Curabitur dolor tellus, sollicitudin quis consectetur nec, tristique eu libero. Duis diam neque, blandit ut metus porttitor, tincidunt condimentum nisi. Fusce vel varius sem. Interdum.</p>
			<img src='../static/images/unsplash_52c319226cefb_1.jpg' alt='picture' />
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam orci dui, placerat ac volutpat in, pellentesque et ante. Nam tincidunt egestas magna, id maximus libero faucibus sed. Aliquam gravida ante sit amet felis blandit pretium. Nunc eget tellus fermentum, eleifend eros quis, sodales erat. Aliquam sed ex lacus. Pellentesque erat eros, viverra a augue vel, viverra aliquet ex. Vestibulum elit purus, vulputate at nibh in, egestas suscipit mi. Quisque sollicitudin augue vitae lorem tempus imperdiet. Curabitur dolor tellus, sollicitudin quis consectetur nec, tristique eu libero. Duis diam neque, blandit ut metus porttitor, tincidunt condimentum nisi. Fusce vel varius sem. Interdum.</p>
			<a href='ololo.html'>Fusce vel varius sem. Interdum.</a>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam orci dui, placerat ac volutpat in, pellentesque et ante. Nam tincidunt egestas magna, id maximus libero faucibus sed. Aliquam gravida ante sit amet felis blandit pretium. Nunc eget tellus fermentum, eleifend eros quis, sodales erat. Aliquam sed ex lacus. Pellentesque erat eros, viverra a augue vel, viverra aliquet ex. Vestibulum elit purus, vulputate at nibh in, egestas suscipit mi. Quisque sollicitudin augue vitae lorem tempus imperdiet. Curabitur dolor tellus, sollicitudin quis consectetur nec, tristique eu libero. Duis diam neque, blandit ut metus porttitor, tincidunt condimentum nisi. Fusce vel varius sem. Interdum.</p>
			<code>
				var a = 0;
				var b = 63;
			</code>
		</div>
	</div>
	<div class="layout-content-block">
		<div class="footer">
			<span class="footer__sign footer__sign--gray">Something I wonna say</span>
			<div class="footer__link-block">
				<a href="https://twitter.com/tenebricosa" class="link-block__link link-block__link--twitter">
				</a>
				<a href="https://github.com/tenebricosa" class="link-block__link link-block__link--github">
				</a>
				<a href="https://steamcommunity.com/id/_watson_md_/" class="link-block__link link-block__link--steam">
				</a>
			</div>
		</div>
	</div>
</doby>