<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" type="text/css" href="../static/styles/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../static/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/styles/output.css" />

	<title>Title</title>
</head>
<body>
	<div class="post-header">
		<div class="layout-content-block">
			<div class="post-header__title-block">
				<h1 class="title-block__title">Lorem ipsum</h1>
				<p class="title-block__description title-block__description--gray">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
			</div>
		</div>
	</div>
	<h2>Верстаю упущенное</h2>
</doby>