$link-block-circle-size: 2.3em; /* Высота должна соответствовать высоте кнопки "Home" */
$link-block-icon-size: 1.3em;
$link-block-icon-lineheight: $link-block-circle-size / $link-block-icon-size;

html {
    color: $font-color-primary;
}

.preload * {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.g__row {
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 2em;

    &:before {
        clear: both;
        content: '';
        display: block;
    }
}

.g__col--4,
.g__col--6,
.g__col--10 {
    float: left;
    position: relative;
}
.g__col--4 {
    width: 39%;
}
.g__col--6 {
    width: 59%;
}
.g__col--10 {
    width: 100%;
}

.footer {
    margin: 7em 0 2em;

    &__sign {
        font-size: 0.8em;
    }

    &__sign--gray {
        color: $font-color-gray;
    }
}

.header {
    &__link-block {
        float: right;
        position: fixed;
        top: 1em;
        right: 1.3em;
    }
}

.link-block {
    &__link {
        color: $font-color-blue;
        position: relative;
        width: $link-block-circle-size;
        height: $link-block-circle-size;
        border-radius: 50%;
        border: 0.1em solid;
        float: left;
        margin-left: 1em;
        text-align: center;
        @extend .fa;
    }
    &__link:hover {

    }

    &__link:before {
        font-size: $link-block-icon-size;
        line-height: $link-block-icon-lineheight;
    }

    &__link--twitter:before {
        @extend .fa-twitter;
    }

    &__link--steam:before  {
        @extend .fa-steam;
    }

    &__link--github:before  {
        @extend .fa-github-alt;
    }
}