$link-block-circle-size: 2.3em; /* Высота должна соответствовать высоте кнопки "Home" */
$link-block-icon-size: 1.3em;
$link-block-icon-lineheight: $link-block-circle-size / $link-block-icon-size;

html {
    color: $font-color-primary;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: $font-color-blue;
}

.g__row {
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 2em;

    &:before {
        clear: both;
        content: '';
        display: block;
    }
}

.g__col--4,
.g__col--6,
.g__col--10 {
    float: left;
    position: relative;
}
.g__col--4 {
    width: 39%;
}
.g__col--6 {
    width: 59%;
}
.g__col--10 {
    width: 100%;
}

.footer {
    margin: 7em 0 2em;
    font-size: 0.8em;

    &__sign--gray {
        color: $font-color-gray;
        line-height: 1.4em;
    }
}

.header {
    position:fixed;
    top: 0;
    height: 5em;
    width: 100%;

    &__button-to-main-block {
        color: $font-color-blue;
        border: 0.1em solid;
        display: inline-block;
        position: absolute;
        padding: 0.4em 0.9em;
        border-radius: 999em;
        top: 1em;
        left: 1.3em;
        cursor: pointer;
    }
    &__button-to-main-block.back {
        -webkit-animation: flip-back 0.3s linear 1;
        -webkit-animation-fill-mode: forwards;
        -moz-animation: flip-back 0.3s linear 1;
        -moz-animation-fill-mode: forwards;
        -ms-animation: flip-back 0.3s linear 1;
        -ms-animation-fill-mode: forwards;
        animation: flip-back 0.3s linear 1;
        animation-fill-mode: forwards;
    }
    &__button-to-main-block.front {
        -webkit-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-animation: flip-front 0.3s linear 1;
        -webkit-animation-fill-mode: forwards;
        -moz-animation: flip-front 0.3s linear 1;
        -moz-animation-fill-mode: forwards;
        -ms-animation: flip-front 0.3s linear 1;
        -ms-animation-fill-mode: forwards;
        animation: flip-front 0.3s linear 1;
        animation-fill-mode: forwards;
    }
}

.link-block {
    &__link {
        color: $font-color-blue;
        display: inline-block;
        float: left;
        margin-left: 1em;
    }

    &__link.back {
        -webkit-animation: flip-back 0.3s linear 1;
        -webkit-animation-fill-mode: forwards;
        -moz-animation: flip-back 0.3s linear 1;
        -moz-animation-fill-mode: forwards;
        -ms-animation: flip-back 0.3s linear 1;
        -ms-animation-fill-mode: forwards;
        animation: flip-back 0.3s linear 1;
        animation-fill-mode: forwards;
    }

    &__link.front {
        -webkit-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-animation: flip-front 0.3s linear 1;
        -webkit-animation-fill-mode: forwards;
        -moz-animation: flip-front 0.3s linear 1;
        -moz-animation-fill-mode: forwards;
        -ms-animation: flip-front 0.3s linear 1;
        -ms-animation-fill-mode: forwards;
        animation: flip-front 0.3s linear 1;
        animation-fill-mode: forwards;
    }
}
