@media screen and (max-width: 980px) {

	.index-content {
		&__article-block {
	        padding-left: 0;
		}

		&__article-block:first-child {
	        margin-bottom: 2em;
		}
	}

    .g__col--4 {
        width: 100%;
    }
    .g__col--6 {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .index-content-block {
        width: 90%;
    }

    .post-content-block {
        width: 80%;
    }
}

@media screen and (min-width: 1500px) {
    .index-content-block {
        width: 70%;
    }

    .post-content-block {
        width: 50%;
    }
}

@media screen and (min-width: 1800px) {
    .index-content-block {
        width: 60%;
    }

    .post-content-block {
        width: 40%;
    }
}