@media screen and (max-width: 1200px) {
    .index-content-block {
        width: 90%;
    }

    .post-content-block {
        width: 80%;
    }

    .header {
        position: absolute;
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
        min-width: 400px;

        &__button-to-main-block {
            left: 0;
        }
    }

    .post__link-block {
        right: 0;
    }
}

@media screen and (max-width: 980px) {

    .index-content {
        &__article-block {
            padding-left: 0;
        }

        &__article-block:first-child {
            margin-bottom: 2em;
        }
    }

    .g__col--4 {
        width: 100%;
    }
    .g__col--6 {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {

    .header {
        min-width: 640px;

        &__button-to-main-block {
            font-size: 1.7em;
            padding: 0;
            left: 2.4em;
            border: none;
        }
    }

    .post__link-block {
        display: none;
    }
}

@media screen and (min-width: 1500px) {
    .index-content-block {
        width: 70%;
    }

    .post-content-block {
        width: 50%;
    }
}

@media screen and (min-width: 1800px) {
    .index-content-block {
        width: 60%;
    }

    .post-content-block {
        width: 40%;
    }
}