.post-header {
	&__title-block {
		margin: 8em 0 4em;
	}

	&__button-to-main-block {
		color: $font-color-blue;
		border: 0.1em solid;
		display: inline-block;
		position: fixed;
		padding: 0.4em 0.9em;
		border-radius: 999em;
		top: 1em;
		left: 1.3em;
		cursor: pointer;
	}
	&__button-to-main-block:hover {
        -webkit-animation: pulse 2s linear 1;
        -moz-animation: pulse 2s linear 1;
        -ms-animation: pulse 2s linear 1;
        animation: pulse 2s linear 1;
	}
}

.button-to-main-block__link {
	font-size: 1.3em;
}

.post-content-block {
    margin: 0 auto; 
    width: 55%;
}

.post-content {
	font-size: 1.2em;
	line-height: 1.7em;

	&__paragraph {
		margin: 2.2em 0;
	}

	&__link {
		color: $font-color-blue;
	}
}